    <div id="style_2">
         <br/> <br>
<div class="titles_2"><h1 style="font-size:70px">Black Clover</h1></div>

<div class="container">
 <a href="http://localhost:3000/"><div class="link", style="width:100px;margin-left:50px;text-decoration:none;">Profile</div></a>
 </div>
 
<div class="subtitle_2"><h2 style="margin-right:240px;"><%=Character.find(@user.character_id).name%></h2></div><br><br>

  <div class="container">
  <iframe width="80%" height="350" src= <%=(@videos_per_character)[@user.character_id]%> ></iframe></div>
    </div>
    </div>
<div class="container">
<br>
        <div id="size"><%= link_to 'New Post', new_post_path, class: "btn btn-success btn-lg btn-block col-md-7 offset-md-1 col" %></div>
        <br>
        <br>
</div>

<div class="container">
<br><br>
<% @posts.each do |post| %>
  <span id="killer<%= post.id %>">    
        <div class="card border-success mb-3" style="max-width: 880px;background-color:#f4f0f0;border-radius:15px;">
          <div class="card-header bg-transparent border-success"><strong><%=User.find((post.user_id)).first_name.capitalize%></strong>, said</div>
            <div class="card-body text-success">
              <h5 class="card-title"><strong>Title: <%= post.title %></strong> </h5>
                <p class="card-text"><%= post.body %></p>
            </div>
          <div class="card-footer bg-transparent border-success"> <span style="margin-left:450px"> created on<%= post.created_at_formatted %></span></div>
        <div style="margin-left:450px"> <%= link_to(post_path(id: post.id), method: :delete, remote: true) do %>
      <p class="text-center"><span class="glyphicon glyphicon-trash"></span></p>
              <% end %> 
        
        </div>
        </div>
       </div>
  </span>
  <br>
  <br>
  <div class="container">
    <%end%>
  </div>
</div>

      
<div id="center"><%= link_to 'Videos', user_posts_path, class: "btn btn-success btn-lg btn-block col-md-6 offset-md-2 col" %></div><br><br><br><br><br>
<div class="container"><%for i in (1..10) do%> 
<iframe width="190" height="250"
src= <%=(@videos_per_character[i])%> >
</iframe> 
<%end%></div>

</div>



