<div id="style">

  <div class="titles_2"><h1 style="font-size:70px">Black Clover</h1></div>
</div>
<h1 > New.html.erb for posts </h1>


<%= form_with(model: @post) do |form| %>  
 <%= form.hidden_field :user_id, value: current_user.id %>
<strong>Title:</strong><br/>
<%= form.text_field :title, placeholder: "lol" %><br/><br/>
<div><strong>Content:</strong></div>
<%= form.text_area :body %><br/><br/>             
<%= form.submit :class => "btn btn-success"%>
  <% end %>
 

 



